In [ ]:

import numpy as np
import pandas as pd
#import profiling as pp

In [ ]:
df = pd.read_csv("media prediction and its cost.csv")
df.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79

In [ ]:
df.describe()

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),total_children,avg_cars_at home(approx),num_children_at_home,avg_cars_at home(approx).1,SRP,gross_weight,net_weight,...,store_sqft,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,cost
count,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,...,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000
mean,6.541031,2.619460,3.093169,2.533875,2.200271,0.829351,2.200271,2.115258,13.806433,11.796289,...,27988.477494,19133.799696,5312.852552,3541.846280,0.612646,0.354157,0.587956,0.587956,0.562603,99.262366
std,3.463047,1.453009,0.827677,1.490165,1.109644,1.303424,1.109644,0.932829,4.622693,4.682986,...,5701.022090,3987.395735,1575.907263,1050.471635,0.487150,0.478261,0.492207,0.492207,0.496069,30.011257
min,0.510000,0.163200,1.000000,0.000000,0.000000,0.000000,0.000000,0.500000,6.000000,3.050000,...,20319.000000,13305.000000,2452.000000,1635.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.790000
25%,3.810000,1.500000,3.000000,1.000000,1.000000,0.000000,1.000000,1.410000,9.700000,7.710000,...,23593.000000,16232.000000,4746.000000,3164.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.650000
50%,5.940000,2.385600,3.000000,3.000000,2.000000,0.000000,2.000000,2.130000,13.600000,11.600000,...,27694.000000,18670.000000,5062.000000,3375.000000,1.000000,0.000000,1.000000,1.000000,1.000000,98.520000
75%,8.670000,3.484025,4.000000,4.000000,3.000000,1.000000,3.000000,2.790000,17.700000,16.000000,...,30797.000000,22123.000000,5751.000000,3834.000000,1.000000,1.000000,1.000000,1.000000,1.000000,126.620000
max,22.920000,9.726500,6.000000,5.000000,4.000000,5.000000,4.000000,3.980000,21.900000,20.800000,...,39696.000000,30351.000000,9184.000000,6122.000000,1.000000,1.000000,1.000000,1.000000,1.000000,149.750000

In [ ]:
def categorise(row):  
    if row['store_city'] == 'Salem' and row['store_state'] == 'OR':
        return 63927
    elif row['store_city'] == 'Portland' and row['store_state'] == 'OR':
        return 79057
    elif row['store_city'] == 'Los Angeles' and row['store_state'] == 'CA':
        return 70372
    elif row['store_city'] == 'Beverly Hills' and row['store_state'] == 'CA':
        return 84907
    elif row['store_city'] == 'San Francisco' and row['store_state'] == 'CA':
        return 121826
    elif row['store_city'] == 'Tacoma' and row['store_state'] == 'WA':
        return 77141
    elif row['store_city'] == 'Seattle' and row['store_state'] == 'WA':
        return 110781
    elif row['store_city'] == 'Spokane' and row['store_state'] == 'WA':
        return 58714
    elif row['store_city'] == 'Bellingham' and row['store_state'] == 'WA':
        return 58597
    elif row['store_city'] == 'Bremerton' and row['store_state'] == 'WA':
        return 59000

df['AnnualMedianIncome_withoutTax'] = df.apply(lambda row: categorise(row), axis=1)

In [ ]:
df.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost,AnnualMedianIncome_withoutTax
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62,63927.0
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86,63927.0
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16,63927.0
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78,63927.0
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79,63927.0

In [ ]:
def categorise(row):  
    if row['store_city'] == 'Salem' and row['store_state'] == 'OR':
        return 40680
    elif row['store_city'] == 'Portland' and row['store_state'] == 'OR':
        return 51204
    elif row['store_city'] == 'Los Angeles' and row['store_state'] == 'CA':
        return 63408
    elif row['store_city'] == 'Beverly Hills' and row['store_state'] == 'CA':
        return 78888
    elif row['store_city'] == 'San Francisco' and row['store_state'] == 'CA':
        return 46848
    elif row['store_city'] == 'Tacoma' and row['store_state'] == 'WA':
        return 52932
    elif row['store_city'] == 'Seattle' and row['store_state'] == 'WA':
        return 92268
    elif row['store_city'] == 'Spokane' and row['store_state'] == 'WA':
        return 39288
    elif row['store_city'] == 'Bellingham' and row['store_state'] == 'WA':
        return 48444
    elif row['store_city'] == 'Bremerton' and row['store_state'] == 'WA':
        return 53028
    elif row['store_city'] == 'Orizaba' and row['store_state'] == 'Veracruz':
        return 6972
    elif row['store_city'] == 'Merida' and row['store_state'] == 'Yucatan':
        return 6504
    elif row['store_city'] == 'Hidalgo' and row['store_state'] == 'Zacatecas':
        return 6948
    elif row['store_city'] == 'Camacho' and row['store_state'] == 'Zacatecas':
        return 6948
    elif row['store_city'] == 'Mexico City' and row['store_state'] == 'DF':
        return 8052
    elif row['store_city'] == 'Guadalajara' and row['store_state'] == 'Jalisco':
        return 8688
    elif row['store_city'] == 'Acapulco' and row['store_state'] == 'Guerrero':
        return 4356
    elif row['store_city'] == 'Vancouver' and row['store_state'] == 'BC':
        return 45948
    elif row['store_city'] == 'Victoria' and row['store_state'] == 'BC':
        return 43164

df['AnnualMedianIncome_AfterTax'] = df.apply(lambda row: categorise(row), axis=1)

In [ ]:
df.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost,AnnualMedianIncome_withoutTax,AnnualMedianIncome_AfterTax
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62,63927.0,40680
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86,63927.0,40680
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16,63927.0,40680
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78,63927.0,40680
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79,63927.0,40680

In [ ]:
df.to_csv('DatasetwithMedIncome.csv')